p
{
    
}

body
{
    background-color:  #464b4b;
    color: antiquewhite;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1
{
    color: ;
}

a
{

}